public_html/tc/dao/BaseDAO\.php 
public_html/vendor/

public_html/tc/config

public_html/node_modules/ 
composer.lock\.DS_Store

nbproject/private/

\.DS_Store

**/bin/** 
**/build/* 
**/node_modules/* 
**/tmp/* 
 
/tc/config/ 
/nbproject/ 
/tc/dao/BaseDAO.php 
 
composer.lock 
 
*.bak 
*.iml 
*.launch 
*.log 
*.tmp 
*.tokens 
*.un~ 
*~ 
*~.nib 
.*.sw[a-z] 
.\#* 
._* 
.DS_Store 
.vscode 
.loadpath 
.map 
.metadata 
.mule 
.project 
.sass-cache 
.settings 
.Spotlight-V100 
.Trashes 
.wtpmodules 
\#*\# 
Desktop.ini 
ehthumbs.db 
example.css 
jrat.output 
jrat.xml 
local.properties 
meteor-vulcanize 
nb-configuration.xml 
nbactions.xml 
profiles.xml 
Session.vim 
smart.lock 
temp_* 
Thumbs.db 
thumbs.db
public_html/\.tags
