/* =============================================================================

    Authored by: Talent Cloud

    Applicant: My Applications - Filters

============================================================================= */

.application-index__filters {
	padding: 4rem 0;

	.flex-grid {
		margin: 0 -1rem;

		.box {
			padding: 0 1rem;
		}

	}

}

