/* =============================================================================

    Authored by: Talent Cloud

    User Application - Application Temporary Preview (Evidence)

============================================================================= */

.applicant-evidence-temp {
	// background: lighten($palette-grey--light, 10%);
	margin: 4rem 0 0 0;
	// padding: 3rem 0;

	@media #{$l-tablet} {
		// padding: 6rem 0;
	}

}

.applicant-evidence-temp__container {
	// margin: 0 auto;
 //    max-width: 100rem;
 //    width: 90%;
}

.applicant-evidence-temp__explanation-copy {
	margin: 4rem auto;
}

/* Accordions =============================================================== */

.applicant-evidence-temp__form-wrapper {
	// border: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		// border-left: 1px solid $palette-grey--dark;
	}

}

.applicant-evidence-temp__accordion-wrapper {
	margin-top: 5rem;

	@media #{$l-tablet} {
		// display: none;
	}

	&.active {

		@media #{$l-tablet} {
			display: block;
		}

	}

	&:first-child {

		.applicant-evidence-temp__accordion-trigger {
			border-top: none !important;
		}

	}

}

/* Trigger */

.applicant-evidence-temp__accordion-trigger {
	cursor: pointer;
	border-top: 1px solid $palette-grey--dark;

	@media #{$l-tablet} {
		cursor: default;
		border: none;
	}

	&.active {
		border-top: none;

		.applicant-evidence-temp__accordion-trigger-title {
			background: $palette-blue;
			color: $white;

			@media #{$l-tablet} {
				background: none;
				color: $black;
			}

		}

	}

}

.applicant-evidence-temp__accordion-trigger-title {
	// background: $palette-grey--dark;
	background: $palette-blue;
	border: none;
	// border-bottom: 1px solid $white;
	color: $white;
	display: block;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.2;
	padding: 3rem;
	position: relative;
	text-align: center;
	text-decoration: underline;
	width: 100%;

	@media #{$l-tablet} {
		// border-bottom: 1px solid $palette-grey--dark;
		padding: 3rem;
		text-align: left;
		text-decoration: none;
	}

}

/* Content */

.applicant-evidence-temp__accordion-content {
	// background: lighten($palette-grey--light, 10%);
	// display: none;
	display: block;
	padding-top: 3rem;

	@media #{$l-tablet} {
		display: block;
		// padding-top: 0;
	}

	&.active {
		display: block;
	}

}

/* Content - Required */

.applicant-evidence-temp__experience-wrapper {
	// padding: 0 3rem;
}

.applicant-evidence-temp__experience-copy {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 0;
}

.applicant-evidence-temp__divider {
	background: $palette-grey--dark;
	border: none;
	height: 1px;
	margin: 3rem 0;
	width: 100%;
}

.applicant-evidence-temp__reference-wrapper {
	// border-top: 1px solid $palette-grey--dark;
	// padding: 0 3rem;
}

.applicant-evidence-temp__reference-metadata {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

}

.applicant-evidence-temp__reference-status {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

	i {

		&.fa-check-circle {
			color: $palette-blue;
		}

		&.fa-exclamation-triangle {
			color: $palette-yellow--dark;
		}

	}

}

.applicant-evidence-temp__reference-copy {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-temp__reference-null {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-temp__evidence-wrapper {
	// border-top: 1px solid $palette-grey--dark;
	padding: 0 0 3rem;
}

.applicant-evidence-temp__evidence-metadata {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

}

.applicant-evidence-temp__evidence-status {
	font-size: 16px;
	line-height: 1.2;
	margin: 2rem 0;

	i {

		&.fa-check-circle {
			color: $palette-blue;
		}

		&.fa-exclamation-triangle {
			color: $palette-yellow--dark;
		}

	}

}

.applicant-evidence-temp__evidence-copy {
	font-size: 16px;
	line-height: 1.5;
	margin: 2rem 0;
}

.applicant-evidence-temp__evidence-copy {

}

.applicant-evidence-temp__evidence-null {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 2rem;
	margin-bottom: 0;
}

.applicant-evidence-temp__section-title {
	font-size: 22px;
	margin: 0 0 2rem;
	text-align: center;

	@media #{$l-tablet} {
		text-align: left;
	}

	i {
		color: $palette-blue;
	}

	a {
		display: block;
		font-size: 16px;
		margin: 1rem 0 0 0;
		text-decoration: underline;
		vertical-align: middle;

		@media #{$l-tablet} {
			float: right;
			margin: 0;
		}

	}

}